:root {
  font-family: Nunito;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #353D69;
  background-color: #FCFCFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("/backdrop.svg") no-repeat 70vw 0vh fixed;
  background-blend-mode: darken;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 0 4.5rem;
  gap: 4vh;
  flex: 1;
}

.right {
  flex: 1;
}

.phone {
  position: absolute;
  /* width: 80%; */
  height: 80%;
  top: 8vh;
  right: 0vw;
}

#logo {
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  gap: 1vw;
}

#logo-text {
  font-size: 3.5vw;
  font-weight: 700;
  align-self: center;

}

#logo-image {
  width: 8vw;

}